<a href="https://colab.research.google.com/github/KenLGrid/Prediction-of-Product-Sales/blob/main/Copy_of_Copy_of_Prediction_of_Product_Sales9_9_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction of Product Sales

- Author: Kenya Carmichael

## Project Overview

## Load and Inspect Data

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
# Save the filepath and load the data
fname = "/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv"
df = pd.read_csv(fname)

## Clean Data

In [60]:
# HOW MANY ROWS/COLUMNS IN THE DATASET?
df.shape

(8523, 12)

In [59]:
# CHECK THE DATATYPES:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
# Display the info for the dataframe
df.info()

In [ ]:
# Display the first 5 rows
df.head()

In [ ]:
# Display the last 5 rows
df.tail()

In [61]:
# ARE THERE ANY DUPLICATES?
# Save a filter called "duplicated_rows" that identifies duplicated rows
duplicated_rows = df.duplicated()

# Get the sum of duplicated_rows filter to see the number of duplicate rows
num_duplicates = duplicated_rows.sum()
print("Number of duplicated rows:", num_duplicates)

Number of duplicated rows: 0

In [63]:
# MISSING VALUES:
# Load the dataset into a DataFrame

df = pd.read_csv(fname)

null_sums = df.isna().sum()
null_sums

In [64]:
# MISSING VALUES:
# Check the datatype

type(null_sums)

pandas.core.series.Series

In [65]:
# MISSING VALUES:
# Get the % of null values

null_percent = null_sums/len(df) * 100
null_percent

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [66]:
# MISSING VALUES:
# Viewing only columns with null values

null_percent[null_percent>0]

Item_Weight    17.165317
Outlet_Size    28.276428
dtype: float64

In [ ]:
# MISSING VALUES:
# Visualizing null values
# Run the Matrix function on the dataframe

import missingno as msno
msno.matrix(df);

In [68]:
# MISSING VALUES:
# Using fillna to fill nulls with N/A

df['Outlet_Size'] = df['Outlet_Size'].fillna("N/A")
df['Outlet_Size'].value_counts(dropna=False)

Medium    2793
N/A       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [69]:
# MISSING VALUES:
# Using fillna to fill nulls with N/A
df['Item_Weight'] = df['Item_Weight'].fillna("N/A")
df['Item_Weight'].value_counts(dropna=False)

N/A      1463
12.15      86
17.6       82
13.65      77
11.8       76
         ...
7.275       2
7.685       1
9.42        1
6.52        1
5.4         1
Name: Item_Weight, Length: 416, dtype: int64

In [70]:
# FIND AND FIX ANY INCONSISTENT CATEGORIES OF DATA:
# Identify string columns
string_cols = df.select_dtypes("object").columns
string_cols

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Type',
       'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [71]:
# FIND AND FIX ANY INCONSISTENT CATEGORIES OF DATA:
# Obtain the value counts for all string columns
for col in string_cols:
  print(f"Value Counts for {col}")
  print(df[col].value_counts())
  # Increasing readability by adding an empty line
  print('\n')

Value Counts for Item_Identifier
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64


Value Counts for Item_Weight
N/A      1463
12.15      86
17.6       82
13.65      77
11.8       76
         ...
7.275       2
7.685       1
9.42        1
6.52        1
5.4         1
Name: Item_Weight, Length: 416, dtype: int64


Value Counts for Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


Value Counts for Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


Value Counts for Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64


Value Counts for Outlet_Size
Medium    2793
N/A       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64


Value Counts for Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64


Value Counts for Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [72]:
# FIND AND FIX ANY INCONSISTENT CATEGORIES OF DATA:
# Check the unique values and counts of the 'Item_Fat_Content' column
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [73]:
# FIND AND FIX ANY INCONSISTENT CATEGORIES OF DATA:
# Standardize the values in the Item_Fat_Content column
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF':"Low Fat",'reg':'Regular','low fat': 'Low Fat'})
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [79]:
# FIND AND FIX ANY INCONSISTENT CATEGORIES OF DATA:
# For any numerical columns, obtain the summary statistics of each (min, max, mean).
summary_stats = df.describe()
print(summary_stats)

       Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count      8523.000000  8523.000000                8523.000000
mean          0.066132   140.992782                1997.831867
std           0.051598    62.275067                   8.371760
min           0.000000    31.290000                1985.000000
25%           0.026989    93.826500                1987.000000
50%           0.053931   143.012800                1999.000000
75%           0.094585   185.643700                2004.000000
max           0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

## Exploratory Data Analysis

## Feature Inspection